<div class="main">
  <h1>{{ componentTitle }}</h1>
  <label for="addItemInput">What would you like to do today?</label>

  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput" />
  
  <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>

  <ul>
    <li *ngFor="let item of items">{{item.description}}
    <button class="btn-primary" (click)="deleteItem(item.description)">delete</button>
    <input type="checkbox" checked="u.accepted" [(ngModel)]="itemsArray.items[i].accepted" (ngModelChange)="updateUser(u)">
    <label for="singleCheckbox-{{i}}"></label>
  </li>
  </ul>
</div>